terraform {
  required_version = ">= 1.5.6"
  required_providers {
    aws = {
      source  = "hashicorp/aws"
      version = "= 5.17.0"
    }
    mackerel = {
      source  = "mackerelio-labs/mackerel"
      version = "= 0.3.2"
    }
  }
  backend "s3" {
    bucket = "<YOUR_BUCKET_NAME>"
    key    = "prepalert/terraform.tfstate"
    region = "ap-northeast-1"
  }
}

provider "aws" {
  region = "ap-northeast-1"
}

provider "mackerel" {
  api_key = local.mackerel_apikey
}

locals {
  mackerel_apikey_source = "where <YOUR_MACKEREL_APIKEY> come from "
  mackerel_apikey = "<YOUR_MACKEREL_APIKEY>"
  google_credential_source = "where <YOUR_GOOGLE_CREDENTIA_*> come from "
  google_client_id = "<YOUR_GOOGLE_CLIENT_ID>"
  google_client_secret = "<YOUR_GOOGLE_CLIENT_SECRET>"
  session_encrypt_key = "<YOUR_SESSION_ENCRYPT_KEY>"
}
