# .github/workflows/tagpr.yml
name: tagpr
on:
  push:
    branches: ["main"]
jobs:
  deploy:
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@v3
      - uses: Songmu/tagpr@main
      - name: Checkout main
        uses: actions/checkout@v3
        with:
          ref: main
      - name: check released version
        id: version_check
        run: |
          version=$(git describe --tags)
          echo ::set-output name=version::$version
      - name: Adding summary
        run: echo '### ${{steps.version_check.outputs.version}}' >> $GITHUB_STEP_SUMMARY
      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.19
      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v1
        with:
          version: latest
          args: release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
